@model WebApiVideoStreaming.Models.TableVM

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style='width:@(240 * Model.Headers.Capacity )px;overflow-y:auto'>

    <h2>Videos</h2>
    <div>
        <h2>Upload Videos: </h2>
        <form id="uploadForm" action="/api/videos/mediaupload" method="post" enctype="multipart/form-data">
            <div class="alert alert-danger hidden" id="dvError">
                <p id="pError"></p>
            </div>
            <div class="form-group input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Archivo de video&hellip; <input id="message" type="file" name="fileupload" style="display: none;">
                    </span>
                </label>
                <input type="text" class="form-control" readonly>
            </div>
            <div class="progress progress-striped active">
                <div class="progress-bar" role="progressbar" id="dvProgress"
                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                     style="width: 0%">
                </div>
            </div>
            <div class="form-group">
                <button id="btnSubir" type="submit" class="btn btn-success btn-lg" disabled>Subir</button>
            </div>
        </form>
    </div>


    <div class="row">
        @using (Html.BeginForm())
        {
            <table style='width:100%' class='table table-condensed'>
                <thead>
                    @foreach (string header in Model.Headers)
                    {
                    <th>@header</th>
                }
                    </thead>
                    <tbody>
                        @for (int k = 0; k < Model.Rows.Count; k++)
                        {
                            <tr>
                                @for (int i = 0; i < Model.Headers.Count; i++)
                                {
                                    if (i % 2 == 0)
                                    {
                                        <td>
                                            @Html.Label("name" + k + i, Model.Rows[k], new { @class = "" })
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.ActionLink("Ver", "GetStream", "VideoStream", new { name = Model.Rows[k] }, new { @class = "btn btn-success btn-sm" })
                                        </td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
    </div>

    <div>
        <video width="640" height="480" controls="controls">
            <source src="/api/Videos/GetStream?name=@Model.CurrentVideo" type="video/mp4">
        </video>
    </div>
</div>

@Scripts.Render("~/bundles/videostream");

<script src='http://code.jquery.com/jquery-1.7.1.min.js'></script>
<script>
    $(document).ready(function(){
        $('#btnSubir').attr('disabled', true);
        if ($('#message')[0].files.length > 0)
            $('#btnSubir').attr('disabled', false);

        $('#message').change(function () {
            if ($('#message')[0].files.length > 0)
                $('#btnSubir').attr('disabled', false);
        });
    });

    $('#btnSubir').on('Click', function () {
        $('#message').val('');
    })
</script>