<div class="jumbotron">
    <h1>Video Streaming POC</h1>
    <p>This POC demonstrates the functionality of streaming video for .NET apps using HTML5 video control and a server with API endpoints connected to a FileStream SQL Database using SqlFileStream object to retrieve partial fragments of a video stored in the Database.</p>
    <p>This arquitecture ensures the division of hard work by processing data in 2 different platforms, one for manage all user requests (.NET Server) an other to manage the storage and streams of video files (SQL Server)</p>
    <p>The SQL FileStream Database allows you to store files in the File Sistem and other information in Tables that can be filtered and sorted as a regular database and also obtains partial content of any file.</p>
    <p><a href="/videostream" class="btn btn-primary btn-lg">Ver videos &raquo;</a></p>
</div>
